h1,
h2,
h3,
h4,
ul,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: white;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  height: 73px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* /* navigation and address  */
.container-header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 332px;
}
.site-link {
  display: flex;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  width: auto;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}

.nav-buttons {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}
.nav-link-parent {
  display: flex;
  position: relative;
}
.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.nav-link-current {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-decoration: none;
  color: #404bbf;
}
.nav-link-current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
}
.nav-link:hover {
  color: var(--OCEAN, #404bbf);
}

.nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.address-link {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  list-style-type: none;
  width: 153px;
  height: 24px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
  color: var(--OCEAN, #404bbf);
}
.address-link:focus {
  color: #404bbf;
}

/* Section 1 with button */
.section-solutions {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
}
.solutions {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button {
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
/* Features */
.section-description {
  padding: 120px 0;
}
.features {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-background {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.features-link {
  flex-basis: calc((100% - 72px) / 4);
  list-style-type: none;
}
.feature-type {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.feature-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.features-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.features-background-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

/* Our team */

.section-team {
  background-color: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}
.our-team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-member {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-member-role {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.team-social-media-links {
  padding-bottom: 32px;
}
.team-social-media-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
}
.team-social-media-list-item {
  width: 40px;
  height: 40px;
}
.team-social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-media-link:hover {
  background-color: #404bbf;
}
.team-social-media-link:focus {
  background-color: #404bbf;
}
.team-social-media-icon {
  fill: #f4f4fd;
}

/* Portfolio */

.section-portfolio {
  padding: 120px 0;
}
.section-app-name {
  margin-bottom: 72px;
  text-align: center;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  list-style-type: none;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px 164px 32px;
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  padding: 40px 32px;
}
.portfolio-list-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.app-type {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.link-footer {
  color: #4d5ae5;
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-foot {
  color: #f4f4fd;
}

.footer-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}
.social-media-container {
  margin-right: 80px;
}
.social-media-text {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-social-media-list {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.footer-social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-link:hover {
  background-color: #31d0aa;
}
.footer-social-media-link:focus {
  background-color: #31d0aa;
}
.footer-social-media-icon {
  fill: #f4f4fd;
}

/* Subscribe form */

.subscribe-form {
  display: flex;
  gap: 24px;
}
.email-label {
  gap: 24px;
}
.subscribe-input {
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  margin-right: 24px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-text {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
}

.footer-subscribe-icon {
  margin-left: 16px;
}
/* Modal container */
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
}
.modal-text {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  color: #8e8f99;
  gap: 8px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.input-field {
  background-color: #fcfcfc;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.checkbox {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  margin-top: 16px;
  margin-left: 24px;
}
.checkbox-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}
.check-span {
  color: var(--IRIS, #4d5ae5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
